/* Body Styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  /* background-color: #f0f2f5; */
}

/* Login Container Styling */
.login-container {
  width: 90%;
  max-width: 320px;
  padding: 20px;
  
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: white;

}

/* Login Heading */
.login-container h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Input Field Styling */
.email {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 2px solid #aa0e0e;
  border-radius: 4px;
  box-sizing: border-box;
}

.pass {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Login Button Styling */
.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #145dbf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Recover Account Link Styling */
.recover {
  display: block;
  padding: 10px 20px;
  background-color: rgb(226, 230, 235);
  border: 2px solid #b6b5b5;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

/* Hover Effect for Recover Account Link */
.recover:hover {
  background-color: #f5ecec;
}

/* Sign Up Link Styling */
.signup {
  font-size: 14px;
  color: #1d4ed8;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

/* Hover Effect for Sign Up Link */
.signup:hover {
  text-decoration: underline;
}

/* Footer Styling */
.foot {

  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 600px) {
  .login-container {
    padding: 15px;
  }

  .login-container h2 {
    font-size: 1.3rem;
  }

  .email, .pass, .login-btn, .recover, .signup {
    font-size: 16px;
  }
}
